.score-board {
    border: 2px solid white;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    position: relative;
    padding: 1rem;
    margin-top: 4rem;

}

.badge {
    background-color: #E2584D;
    font-size: 1rem;
    padding: 0.2rem;
}

#user-label {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

#computer-label {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    transform: translate(50%, -50%);

}